Package: com.andoroid.ytliteunlock
Name: YTLiteUnlock
Depends: mobilesubstrate
Version: 5.2.1
Architecture: iphoneos-arm
Description: Suppresses the activation reminder for patched YTLite releases
Maintainer: andoroid
Author: andoroid
Section: Tweaks
